
<div class = 'container fill'>
	<div id='map'>
	</div>
</div>


<script>
	L.mapbox.accessToken = 'pk.eyJ1Ijoic2lsbHNvbiIsImEiOiJhWEtuUjNzIn0.p5CUl9XxMqYV5q6LDkV0Fg';
	
	var map = L.mapbox.map('map', 'sillson.lhm0n06m').setView([44.05, -121.3], 7);

</script>

