= image_tag("background.JPG", :class => "sketch" )
.container
  .jumbotron
    .row
      %h3.text-center
        Passive-Capture
      %h5.text-center
        %em coming soon
      %br
    = render :partial => "map"
    / = render :partial => "population_graph"
    .row
      %br
      %h5.text-center
        Passive capture is a project to enable greater insight & visualization into anadromous fish runs in the Pacific Northwest.
      %h5.text-center
        Soon we will launch a dashboard and statistics for each of the dams marked on the above map. Farther down the line we will analyze data spanning the past several decades to allow us to project fish counts, large-scale fish kills, and the rate at which our native fish move through the Columbia River watershed. Check back soon, or get in touch to collaborate. 