= image_tag("background.JPG", :class => "sketch" )
.container
  .col-md-6
    .text-block-1
      %p.in-text
        stuart illson
      %p.in-text
        horsebark rootbeer
  .col-md-4.col-md-offset-2
    .text-block-2
      %p.in-text
        %strong contact: 
        anadromousdata@gmail.com 


= render :partial => "water"

